<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Post Details</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content" class="ion-padding">
  <h3 class="ion-text-center">{{ story?.title }}</h3>
  <br />
  <div class="card-img clr-col">
    <img src="{{ story?.imageUrl }}" />
  </div>
  <br />

  <h4 class="ion-text-center">Play Online Video</h4>
  <ion-button
    expand="full"
    fill="outline"
    [href]="story?.videoUrl"
    target="_blank"
    (click)="handleVideoClick()"
    >Online Video</ion-button
  >
  <br />

  <ng-container *ngIf="story?.audio">
    <div class="audio-container">
      <audio controls="false" preload="none">
        <source type="audio/mpeg" [src]="story?.audio" />
        [unable to load audio]
      </audio>
    </div>

    <br />
  </ng-container>

  <span>{{ story?.description }}</span>

  <br /><br />
  <ion-button
    *ngIf="!checkProgress()"
    expand="full"
    routerLink="/questions/{{ story?.postId }}"
    (click)="dismiss()"
    >Answer story questions &nbsp;<ion-icon
      name="arrow-forward-outline"
    ></ion-icon
  ></ion-button>
</ion-content>
