<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br />
  <div class="ion-text-center logo">
    <!-- <img src="/assets/images/logo.png" style="width: 80%" /> -->
    <p class="register-text">
      <ion-icon name="person-add-outline"></ion-icon> Enter your details below
      to register
    </p>
  </div>
  <br />
  <ion-card>
    <ion-card-content>
      <form>
        <ion-item lines="full">
          <ion-label position="floating">Display Name</ion-label>
          <ion-input type="text" #name required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" #email required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" #password required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              (click)="signUp(email, password,name)"
              expand="block"
              >Register</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
