<ng-container *ngIf="!isLoading; else loadingState">
  <ng-container *ngIf="selectedInterventionId; else interventionsList">
    <div class="chapter-header">
      <h2>{{ selectedInterventionName || 'Chapters' }}</h2>
      <p>Select a chapter to review its saved questions and answers.</p>
    </div>

    <div class="chapters-list" *ngIf="chapters.length; else emptyState">
      <button
        type="button"
        class="chapter-item"
        *ngFor="let chapter of chapters"
        [routerLink]="['/my-work-book/questionAnswers/chapter', chapter.id]"
      >
        <div class="chapter-item-icon">
          <ion-icon name="folder-open-outline"></ion-icon>
        </div>
        <div class="chapter-item-content">
          <h3>{{ chapter?.title }}</h3>
        </div>
        <ion-icon name="arrow-forward" class="item-caret" aria-hidden="true"></ion-icon>
      </button>
    </div>
  </ng-container>
</ng-container>

<ng-template #interventionsList>
  <div class="interventions-list" *ngIf="interventions.length; else emptyState">
    <button
      type="button"
      class="intervention-item"
      *ngFor="let intervention of interventions"
      [routerLink]="['/my-work-book/chapters', intervention.id]"
    >
      <div class="intervention-item-icon">
        <ion-icon name="library-outline"></ion-icon>
      </div>
      <div class="intervention-item-content">
        <h3>{{ intervention?.name }}</h3>
        <p>Open this intervention to see its chapters.</p>
      </div>
      <ion-icon name="arrow-forward" class="item-caret" aria-hidden="true"></ion-icon>
    </button>
  </div>
</ng-template>

<ng-template #loadingState>
  <div class="state-card">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading…</p>
  </div>
</ng-template>

<ng-template #emptyState>
  <div class="state-card">
    <p>No content is available right now.</p>
  </div>
</ng-template>
