<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Introduction</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <ion-card>
    <ion-card-content>

      <h2>Welcome to Positive Konnections</h2>

      <p>Positive Konnections (PK)  is a cool application with a mental health intervention  for people infected or affected by HIV. It's private and easily accessible. It does various things which includes:</p>
        <ol>
          <li>supporting people who have had a reactive result on an HIV  self testing kit.</li>
          <li>It helps you talk to your partner or loved one about HIV.</li>
          <li>It's a tool that parents and care givers can use to talk to their children about difficult things surrounding HIV infection.</li>
          <li>It provides counselling and helps those struggling to accept their HIV diagnosis or those facing other challenges.</li>
          <li>It supports people living with HIV to take their medication even when they feel tired or overwhelmed.</li>
        </ol>
        <hr>
        <img src="assets/images/flyer.jpg" alt="The birth of a superhero">
      </ion-card-content>
  </ion-card>
</ion-content>
