<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button defaultHref="/messages"></app-back-button>
    </ion-buttons>
    <ion-title>{{ chat?.recipientName || chat?.displayName || 'Chat' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content chat-page" #content>
  <section class="chat-thread">
    <div class="chat">
      <ng-container
        *ngFor="
          let msg of chat?.messages;
          index as index;
          trackBy: trackByCreated
        "
      >
        <div class="ion-text-center date">
          <br />
          <span *ngIf="isDifferentDay(index)">{{
            msg?.createdAt | date : 'mediumDate'
          }}</span>
        </div>

        <div class="msg" [class.my-msg]="msg.uid === currentUser?.uid">
          <div class="user" *ngIf="msg.uid !== currentUser?.uid">
            <img [src]="msg.user?.photoURL" *ngIf="msg.user?.photoURL" />
            <span
              id="profileImage"
              *ngIf="!msg?.user?.photoURL"
              [innerHTML]="getInitials(msg?.user?.displayName)"
            ></span>
          </div>
          <div class="msg-bubble">
            <strong class="name" *ngIf="chat?.type === 'group' && msg.uid !== currentUser?.uid">{{ msg.user?.displayName }}</strong>
            <p *ngIf="msg?.type !== 'audio'">
              {{ msg?.content || msg?.message }}
            </p>
            <div class="audio-container" *ngIf="msg?.type === 'audio'">
              <audio controls preload="auto">
                <source type="audio/mpeg" [src]="msg?.content" />
                [unable to load audio]
              </audio>
            </div>
            <span class="msg-time">{{ msg?.createdAt | date : 'shortTime' }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </section>

  <section class="chat-input">
    <div class="input-shell">
      <ion-button #recordBtn fill="clear" class="mic-btn" (click)="selectedChat = chat">
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button>

      <ion-textarea
        autoGrow="true"
        [(ngModel)]="newMsg"
        placeholder="Send a message or hold the mic"
        (keydown.enter)="submit(chat); $event.preventDefault()"
      ></ion-textarea>

      <ion-button class="send-btn" (click)="submit(chat)">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </div>
  </section>
</ion-content>
