// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1a4f8b;
  --ion-color-primary-rgb: 26, 79, 139;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #164375;
  --ion-color-primary-tint: #316197;

  /** secondary **/
  --ion-color-secondary: #f04ecf;
  --ion-color-secondary-rgb: 240, 78, 207;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d846b7;
  --ion-color-secondary-tint: #f262d4;

  /** tertiary **/
  --ion-color-tertiary: #18c6d9;
  --ion-color-tertiary-rgb: 24, 198, 217;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #15afbf;
  --ion-color-tertiary-tint: #35cfdf;

  /** success **/
  --ion-color-success: #20c997;
  --ion-color-success-rgb: 32, 201, 151;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #1ba97f;
  --ion-color-success-tint: #39d1a5;

  /** warning **/
  --ion-color-warning: #ffb545;
  --ion-color-warning-rgb: 255, 181, 69;
  --ion-color-warning-contrast: #1b1400;
  --ion-color-warning-contrast-rgb: 27, 20, 0;
  --ion-color-warning-shade: #e09f3c;
  --ion-color-warning-tint: #ffc05a;

  /** danger **/
  --ion-color-danger: #f45c5c;
  --ion-color-danger-rgb: 244, 92, 92;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d05050;
  --ion-color-danger-tint: #f57070;

  /** dark **/
  --ion-color-dark: #111430;
  --ion-color-dark-rgb: 17, 20, 48;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0e122a;
  --ion-color-dark-tint: #292a45;

  /** medium **/
  --ion-color-medium: #8d92b2;
  --ion-color-medium-rgb: 141, 146, 178;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #7b809c;
  --ion-color-medium-tint: #9ca0be;

  /** light **/
  --ion-color-light: #f6f8ff;
  --ion-color-light-rgb: 246, 248, 255;
  --ion-color-light-contrast: #111430;
  --ion-color-light-contrast-rgb: 17, 20, 48;
  --ion-color-light-shade: #d8dae0;
  --ion-color-light-tint: #f7f9ff;
}
