<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      Chapters
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="chapters-content">
  <div class="page-shell">
    <div class="page-header">
      <h1>Chapters</h1>
      <ion-searchbar
        placeholder="Search"
        debounce="350"
        (ionChange)="search($event?.detail?.value)"
      ></ion-searchbar>
    </div>

    <ng-container *ngIf="!isLoading; else loadingState">
      <ng-container *ngIf="filteredChapters.length; else emptyState">
        <div class="chapter-list">
          <button
            type="button"
            class="chapter-item"
            *ngFor="let chapter of filteredChapters; let i = index"
            routerLink="/posts/{{ chapter.id }}"
          >
            <div class="item-icon">
              <span>{{ i + 1 }}</span>
            </div>
            <div class="item-text">
              <h2>{{ chapter?.title }}</h2>
              <p *ngIf="chapter?.tagline">{{ chapter?.tagline }}</p>
            </div>
            <ion-icon class="item-caret" name="arrow-forward" aria-hidden="true"></ion-icon>
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ion-content>

<ng-template #loadingState>
  <div class="state-message">
    <ion-spinner name="crescent"></ion-spinner>
    <span>Loading chapters…</span>
  </div>
</ng-template>

<ng-template #emptyState>
  <div class="state-message">
    <ion-icon name="information-circle-outline"></ion-icon>
    <p>No chapters available yet.</p>
  </div>
</ng-template>
