<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>Take Survey</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <!-- <h3>{{ survey?.title }}</h3>
<p>{{ survey.description }}</p> -->
  <survey *ngIf="surveyModel" [model]="surveyModel"></survey>
</ion-content>
